<div class="cafePartial">
    <div class="text-center">
        <div class="alignText">
            <p class="font-weight-bold">Ryttarcaféets öppettider:</p>
            Vardagar 16-20<br />
            Helger 10-15<br />
            Välkomna!
            </div>
        </div>
    </div>
