@model ekipage.Models.Rider

@{
    ViewData["Title"] = "Radera ryttare";
}

<h1>Radering av ryttare</h1>

<div>
    <h2>Används endast när ryttaren har sagt upp sin plats i gruppen</h2>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RiderName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RiderName)
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RiderId" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Gå tillbaka utan att radera</a>
    </form>
</div>
