@model ekipage.Models.Rider

@{
    ViewData["Title"] = "Byt h채st";
}

<h1>Byt h채st</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RiderId" />
            <div class="form-group">
                <label asp-for="RiderName" class="control-label"></label>
                <input asp-for="RiderName" class="form-control" />
                <span asp-validation-for="RiderName" class="text-danger"></span>
            </div>
            <!--
    <div class="form-group">
        <label asp-for="Preference" class="control-label"></label>
        <input asp-for="Preference" class="form-control" />
        <span asp-validation-for="Preference" class="text-danger"></span>
    </div>
        -->
            <div class="form-group">
                <label asp-for="HorseId" class="control-label">H채st</label>
                <select asp-for="HorseId" class="form-control" asp-items="ViewBag.HorseId"></select>
                <span asp-validation-for="HorseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">G책 tillbaka</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
