@{
    ViewData["Title"] = "Startsida";
}


<div class="text-center">
    <h1 class="display-4">Måndagsgruppen</h1>
    <p>
        Här ser du vilken häst du ska rida och vad vi kommer göra på lektionen.<br />
        Listan uppdateras/ hästarna delas ut kl 12:00 samma dag som lektionen äger rum.
    </p>

</div>


<partial name="_DayAndDatePartial" />
<div class="testLektionstyp"></div>

<partial name="_HorseAndRiderPartial" />
<div class="dagensGrupp"></div>
